/* HEADER */

header {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #efefef;
  display: flex;
  align-items: center;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 10;
}

header > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .icon {
  position: absolute;
  padding: 10px;
  color: #757575;
}

#searchBar {
  min-width: 350px;
  height: 35px;
  background-color: #f5f6f7;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: inherit;
  padding-left: 40px;
}

.priceSort {
  display: flex;
  align-items: center;
  gap: 10px;
}

.priceSort button {
  background: none;
  border: none;
  font-size: 20px;
  color: #1a7782;
  padding: 0;
}

.headerRight {
  display: flex;
  gap: 15px;
}

.headerRight button {
  font-family: inherit;
  font-size: 12px;
  line-height: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #1a7782;
  color: #1a7782;
  background-color: white;
}

.headerRight button:last-of-type {
  border: none;
  background-color: #1a7782;
  color: white;
}

.visibleS,
.hidden,
.visible {
  display: none;
}

/* RESPONSIVE */

@media (max-width: 1280px) {
}

@media (max-width: 1000px) {
  .visibleS {
    display: unset;
  }
  .searchBarContainer,
  .priceSort,
  .headerRight {
    display: none;
  }

  .searchBarBottom {
    position: absolute;
    top: 60px;
    left: 0;
    padding: 0 20px;
    height: 60px;
    width: 100%;
    border-bottom: #efefef 1px solid;
    background-color: white;
    display: flex;
    align-items: center;
  }

  .searchBarBottom > input {
    flex: 1;
  }

  .visible {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    height: calc(100vh - 120px);
    background-color: white;
    border-bottom: #efefef 1px solid;
    gap: 20px;
    padding: 20px;
  }

  .priceSort.bottom {
    display: unset;
  }

  .headerRight.bottom {
    display: flex;
    flex-direction: column;
  }
}
